.paginator {
  max-width: 280px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto;
}

.paginator__button {
  background-color: #ffffff;
  border-radius: 100px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: 2px solid #333333;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  color: #333333;
}

.paginator__button:not(.paginator__disabled):not(.paginator__current):hover {
  color: #333333;
  background-color: #CCCCCC;
  transition: color 0.5s ease-in-out;
}

.paginator__prev,
.paginator__next {
  margin: 0 auto;
}

.paginator__current {
  width: 100px;
  border: 2px solid var(--color-primary);
  background: var(--color-primary);  
  margin: 0 auto; 
  cursor: default;
}

.paginator__disabled {
  cursor: default;
  border: 2px solid #AAAAAA;
  color: #AAAAAA;
}

.paginator__disabled:hover {
  cursor: default;
  border: 2px solid #AAAAAA;
  color: #AAAAAA;
}
.paginator__disabled:active {
  background-color: #ffffff;
}