.paginator {
  max-width: 340px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 730px) {
  .paginator {
      max-width: 300px;
  }
}
.paginator__button {
  border-radius: 100px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: 2px solid var(--color-primary);
  background-position: center;
  background-repeat: no-repeat;
}

.paginator__button:not(.paginator__disabled):hover {
  border: 2px solid var(--color-primary-light);
  background: var(--color-primary-light);
  background-position: center;
  background-repeat: no-repeat;
  transition: background 0.5s, border-color 0.5s ease-in-out;
}

.paginator__button:has(.paginator__current):hover {
  border: 2px solid var(--color-primary);
  background: var(--color-primary);
  cursor: default;
  transition:none;
}


.paginator__prev {
  margin-left: 20px;
}

@media (max-width: 730px) {
  .paginator__prev {
      margin-left: 10px;
  }
}

.paginator__current {
  border: 2px solid var(--color-primary);
  background: var(--color-primary);   
  margin-left: 20px;
}

@media (max-width: 730px) {
  .paginator__current {
      margin-left: 10px;
  }
}

.paginator__number, .paginator_arrow {
  font-family: var(--font-family-georgia);
  text-align: center;
  padding-top: 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.paginator__next {
  margin-left: 20px;
}

@media (max-width: 730px) {
  .paginator__next {
      margin-left: 10px;
  }
}

.paginator__next:hover {
  margin-left: 20px;
}

@media (max-width: 730px) {
  .paginator__next:hover {
      margin-left: 10px;
  }
}

.paginator__to-finish {
  margin-left: 20px;
}

@media (max-width: 730px) {
  .paginator__to-finish {
      margin-left: 10px;
  }
}

.paginator__to-finish:hover {
  margin-left: 20px;
}

@media (max-width: 730px) {
  .paginator__to-finish:hover {
      margin-left: 10px;
  }
}

.paginator__disabled {
  cursor: default;
  border: 2px solid var(--color-dark-s);
  color: var(--color-dark-s);
}