@import '../color.css';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 3;
}

.burger-menu {
  z-index: 5;
  display: block;
  position: relative;
  width: 30px;
  height: 24px;
  margin: 0 20px 0 10px;
  cursor: auto;
}

.burger-menu span,
.burger-menu::before,
.burger-menu::after {
  left: 0;
  position: absolute;
  height: 14%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: var(--color-two);
  border-radius: 5px;
}

.burger-menu::before,
.burger-menu::after {
  content: "";
}

.burger-menu::before {
  top: 0;
}

.burger-menu::after {
  bottom: 0;
}

.burger-menu span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.burger-menu.active span {
  transform: scale(0) translate(0px, -50%);
}

.burger-menu.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.burger-menu.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}