.main-password-view{
    width: 100%;
    padding-top: 140px;
}
.user-passwords{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}
.user-button-back{
    width: 100px;
    color: white;
    background-color: red;
    border-color: red;
}