.main-password-view{
    width: 100%;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;;
}
.user-passwords{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}
.user-button-back{
    width: 100px;
    color: white;
    background-color: red;
    border-color: red;
}
.input-field__container {
    width: 300px;

}