@import '../color.css';

.product-details {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-details__top {
  display: flex;
}

.product-img__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  width: 65%;
  height: auto;

}

.product-img__slider-wrapper {
  width: 400px;
  height: 400px;
  justify-content: left;
  overflow: hidden;
}

.product-img__wrapper {
  width: 400px;
  position: relative;
  display: inline-flex;
  align-items: center;
  left: 0;
}

.product-img {
  position: relative;
  padding: 30px;
  width: 400px;
  height: auto;
  cursor: pointer;
}

.left-button, .right-button {
  position: relative;
  margin: 0 5px 0 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: url(/src/assets/icons/arrow.png);
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.left-button:hover, .right-button:hover {
  opacity: 0.8;
}

.left-button:active, .right-button:active {
  background-color: var(--color-one);
  opacity: 1;
}

.left-button {
  left: 20px;
}

.right-button {
  right: 20px;
  transform: translateY(-50%) rotate(180deg);
}

.sale-procent {
  position: absolute;
  left: 20px;
  margin-top: 20px;
  width: 60px;
  height: 30px;
  background-color: #fb4c4c;
  color: #fff;
  text-align: center;
  padding: 6px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
}

.product-info__container {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 2%;
}

.product-info__top {
  text-align: left;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.product__name {
  font-size: 24px;
  font-weight: bold;
  color: var(  --color-four);
}

.product-info__centr {
 padding: 20px;
}

.product__price {
  font-size: 20px;
  font-weight: bold;
}

.price-regular {
  text-decoration: line-through;
  color: #999;
  font-size: 18px;
  padding: 5px;
}

.price-sale {
  font-size: 24px;
  color: #ff0000;
  font-weight: bold;
  padding: 5px;
}

.product-info__bottom {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  color: var(--color-four);
  gap: 5px;
}

.product__colors-options {
  padding: 10px 0px;
}

.product__color {
  display: inline-block;
  font-weight: bold;
}

.product__size-options {
 padding: 10px;
}

.product__size {
  display: inline-block;
  font-weight: bold;
}

.product__material {
  display: inline-block;
  font-weight: bold;
}

.about-order {
  margin-top: 30px;
  background-color: #fdfcf4;
  border: 1px solid var(--color-one);
  padding: 10px;
  border-radius: 5px;
}

.availability {
  color: var(--color-two);
  font-weight: bold;
}

.delivery {
  margin-top: 10px;
  font-size: 14px;
  color: var(--color-six);
}

.product-details__bottom {
  margin-top: 20px;
}

.product-description {
  margin-top: 20px;
  display: block;
}

.product-description__header {
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
}

.product-description__content {
  font-size: 14px;
  color: #333;
}

@media (max-width: 767px) {
  .product-img__slider-wrapper {
    width: 300px;
    height: 300px;
  }
  .product-img__wrapper {
    width: 300px;
  }

  .product-img {
    width: 100%;
  }

  .left-button, .right-button {
    top: 107%;
    width: 30px;
    height: 30px;
  }

  .product__name {
  font-size: 18px;
  }
  .price-sale {
    font-size: 20px;
  }

  .price-regular {  
  font-size: 18px;
}
}


@media (max-width: 590px) {
  .product-img__container {
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .product-img__slider-wrapper {
    width: 250px;
    height: 250px;
  }
  .product-img__wrapper {
    width: 250px;
  }

  .product-img {
    width: 100%;
  }
  .sale-procent {
    top: 0px;
  }

  .left-button, .right-button {
    position: absolute;
    top: 90%;
    margin: 0 5px;
  }

  .product__name {
  font-size: 18px;
  }
  .about-order {
    font-size: 12px;
  }

  .delivery {
    font-size: 12px;
  }

  .product-description {
    padding-top: 10px;
  }

  
@media (max-width: 470px) {
  .product-details__top {
    flex-direction: column;
  }

  .product-info__container {
    width: 100%;
    align-items: center;
  }
  .product-img__container {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .product-img__slider-wrapper {
    width: 250px;
    height: 250px;
  }
  .product-img__wrapper {
    width: 250px;
  }

  .product-img {
    width: 100%;
  }

  .sale-procent {
    top: 0px;
  }

  .product__name {
  font-size: 18px;
  }
  .about-order {
    font-size: 12px;
  }

  .delivery {
    font-size: 12px;
  }

  .product-description {
    padding-top: 10px;
  }
}
}

