:root {
  --color-one: #fed000;
  --color-two: #004aad;
  --color-three: #3d78c4;
  --color-four: #063a7e;
  --color-five: #edeef0;
  --color-six: #465464;
  --color-seven: #fed000;
  --color-eight: red;
}