.promo-code-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto;
}
.promo-code-text {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: var(--color-two);
  text-align: center;
 
}

.promo-code-container {
  display: flex;
  flex-direction: column-reverse;
}
.promo-code-container button {
  font-style: italic;
  height: 18px;
  text-align: center;
  position: relative;
  background: #ffffff00;
  color: rgb(184, 179, 179);
  border: 0px;
}

.your-code {
  width: 150px;
  height: 48px;
  border-radius: 0px;
  text-align: center;
  margin-top: 10px;
  padding: 11px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Open Sans';
  box-shadow: inset 0px 0px 6px 7px #fff;
  color: #fff;
  animation: pulse 1s infinite alternate;
}

.copy-notification {
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  width: 30%;
  position: fixed;
  top: 80%;
  right: 10px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
  padding: 15px;
  z-index: 2;
}


@keyframes pulse {
  0% {
    background: #ff0303;
    
  }
  100% {
    background: #bd0101;
  }
}