.sort-container {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 5px 10px;
}

.link-container {
  width: 70px;
  margin: 0px 10px;
  padding: 5px;
  border-radius: 3px;
  border: var(--color-two) 1px solid;
  transition: 0.3s ease;
  background-color: var(--color-two);
  text-align: center;
}

.link-container a:hover {
  color: #ffffff;
  transition: 0.3s ease;
}

.link-container a {
  color: var(--color-one);
  font-weight: bold;
  transition: 0.3s ease;
}

.order-high:after {
  content: '';
  position: relative;
  top: 11px;
  left: 7px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid var(--color-one);
}

.order-low:after {
  content: '';
  position: relative;
  top: -11px;
  left: 7px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid var(--color-one);
}