@import '../color.css';
@import '../mainPage/category-products/category.css';
@import '../mainPage/benefits/benefits.css';
@import '../page-404/page404.css';
@import '../display-produkt/product-details.css';
@import '../display-produkt/modalContainer/modal.css';
@import '../about-us/about-us.css';

.not-found-container,
.mainView {
  min-height: calc(100vh - 115px);
}

.baners {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.baners__content {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: url(../../assets/images/photo_2023-08-10_21-43-24.jpg)no-repeat;
  background-size: 100%;
  background-position-x: left;
  width: 100%;
  height: auto;
  color: aliceblue;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  text-align:start;
  justify-content:center;
  padding: 40px;
}

.baners__content span {
  font-size: 52px;
  color: var(--color-five);
  text-shadow: 3px 3px 4px #3c4144;
  padding: 10px 0;
}

.main-page {
  max-width: 1280px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
 }


.button__container a {
  width: 120px;
  height: 30px;
  margin: 5px 5px;
  border-radius: 3px;
  text-align: center;
  color: var(--color-one);
  font-weight: bold;
  border: var(--color-two)  1px solid;
  background-color: var(--color-two);
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button__container a:hover {
  color: #ffffff;
  transition: 0.3s ease;
}

.main-page a:active {
  background-color: var(--color-three);
  border: var(--color-three) 1px solid;
}

.button__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0;
  justify-content: center;
}

.login {
  background: url(/src/assets/icons/login-icon.png);
  background-position: center;
  background-size: contain;
}

.logout {
  background: url(/src/assets/icons/logout-icon.png);
  background-position: center;
  background-size: contain;
}

.registration {
  background: url(/src/assets/icons/registration-1.png);
  background-position: center;
  background-size: contain;
}